<header class="header-container">
  <!-- Logo Section -->
  <div class="logo">
    <a routerLink="/">
      <!--<img src="assets/logo.png" alt="Logo" /> -->
      <span>{{ appName }}</span>
    </a>
  </div>

  <!-- Navigation Menu -->
  <nav class="nav-menu">
    <ul>
      <li><a routerLink="/expenses" routerLinkActive="active">Έκδοση</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Πίνακας Ελέγχου</a></li>
      <li><a routerLink="/analytics" routerLinkActive="active">Αναλυτικά</a></li>
      <li><a routerLink="/history" routerLinkActive="active">Ιστορικό</a></li>
      <li><a routerLink="/residents" routerLinkActive="active">Ένοικοι</a></li>
      <li><a routerLink="/support" routerLinkActive="active">Βοήθεια</a></li>
    </ul>
  </nav>

  <!-- User Actions -->
  <div class="user-actions">
    <a routerLink="/profile">Προφίλ</a>
    <button routerLink="/login">Login</button>
  </div>
    




