<div class="profile-container">
  <h1>Προφίλ Χρήστη</h1>

  <!-- User Information Section -->
  <div class="user-info-section">
    <h2>Προσωπικές Πληροφορίες</h2>
    <ng-container *ngFor="let resident of residents">
      <ul *ngIf="resident.id === '003'">
        <li><strong>Όνομα:</strong> {{ resident.name }}</li>
        <li><strong>Email:</strong> {{ resident.email }}</li>
        <li><strong>Τηλέφωνο:</strong> {{ resident.phone }}</li>
      </ul>
    </ng-container>
  </div>

  <!-- Apartment Information Section -->
  <div class="apartment-info-section">
    <h2>Πληροφορίες Διαμερίσματος</h2>
    <ng-container *ngFor="let resident of residents">
      <ul *ngIf="resident.id === '003'">
        <li><strong>Αριθμός Διαμερίσματος:</strong> {{ resident.apartment }}</li>
        <li><strong>Όροφος: </strong>{{resident.floor}}</li>
        <li><strong>Τετραγωνικά Μέτρα:</strong> {{ resident.squareMeters }} m²</li>
      </ul>
    </ng-container>
  </div>

  <!-- Building Information Section -->
  <div class="building-info-section">
    <h2>Πληροφορίες Κτιρίου</h2>
    <ng-container *ngFor="let resident of residents">
      <ul *ngIf="resident.id === '003'">
        <li><strong>Όνομα Κτιρίου:</strong> {{ building.name }}</li>
        <li><strong>Διεύθυνση:</strong> {{building.address}} - {{building.addressNumber}}</li>
        <li><strong>Συνολικά Διαμερίσματα:</strong> {{ building.numberOfApartments}}</li>
        <li><strong>Συνολικά Τετραγωνικά:</strong> {{ building.buldingSquareMeters}} m²</li>
        <li><strong>Συνολικοί Όροφοι:</strong> {{ building.numberOfFloors}}</li>
      </ul>
    </ng-container>
  </div>
</div>




