<div class="payments-container">
    <h2>Ιστορικό Πληρωμών</h2>
  
    <table>
      <thead>
        <tr>
          <th>Μήνας</th>
          <th>Ποσό ($)</th>
          <th>Ημερομηνία Πληρωμής</th>
          <th>Status</th>
          <th>Πληρωμή</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{ payment.utility }}</td>
          <td>{{ payment.amount | currency:'USD':'symbol' }}</td>
          <td>{{ payment.date | date:'mediumDate' }}</td>
          <td>{{ payment.status }}</td>
          <td>
            <button *ngIf="payment.status === 'Pending'" (click)="payNow(payment.utility)">
              Πληρωμή
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  