<div class="dashboard-container">
  <h1>Πίνακας Ελέγχου</h1>
  <!-- Announcements -->
  <div class="announcements-section">
    <h2>Ανακοινώσεις</h2>
    <ul>
      <li *ngFor="let announcement of announcements">
        <strong>{{ announcement.date }}</strong>: {{ announcement.message }}
      </li>
    </ul>
  </div>

  <!-- Overview Section -->
   <ng-container *ngFor="let resident of residents">
    <ng-container *ngIf="resident.id === '001'">
      <div class="overview-section" >
        <div class="card">
          <h3>Συνολικό ποσό Πολυκατοικίας</h3>
          <p>{{totalSumOfExpenses() | currency}}</p>
        </div>
        <div class="card">
          <h3>Συνολική πληρωμή Ενοίκου</h3>
          <p>{{ resident.total| currency }}</p>
        </div>
        <div class="card">
          <h3>Συνολική πληρωμή Ιδιοκτήτη</h3>
          <p>{{ resident.owner | currency }}</p>
        </div>
        <div class="card">
          <h3>Πληρωμή εώς</h3>
          <p>{{ nextDueDate | date: 'mediumDate' }}</p>
        </div>
      </div>
    </ng-container>
   </ng-container>
  <div class="actions-section">
    <button class="pay-now-btn" (click)="payNow()">Πληρωμή</button>
  </div>
  <!--Pinakas gia ena diamerisma-->
  <div class="residents-section">
    <ng-container *ngFor="let resident of residents">
      <ng-container *ngIf="resident.id === '001'">
        <table>
          <thead>
            <tr>
              <th>Όνομα</th>
              <th>Διαμέρισμα</th>
              <th>Πολυκατοικία</th>
              <th>Διεύθυνση</th>
              <th>Αριθμός</th>
              <th>Περιοχή</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ resident.name }}</td>
                <td>{{ resident.apartment }}</td>
                <td>{{ building.name}}</td>
                <td>{{ building.address}}</td>
                <td>{{ building.addressNumber}}</td>
                <td>{{ building.district}}</td>
              </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
    
    <table>
      <thead>
        <tr>
          <th colspan="3" style="background-color: #e0e0e0;">Στοιχεία</th>
          <th colspan="3" style="background-color: #d0d0d0;">Χιλιοστά</th>
          <th colspan="2" style="background-color: #c0c0c0;">΄Ωρες</th>
          <th colspan="13" style="background-color: #c0c0c0;">Ποσό Αναλογίας σε Ευρώ</th>
        </tr>
        <tr>
          <th>ID</th>
          <th>Όνομα</th>
          <th>Αριθμός Διαμερίσματος</th>
          <th>Χιλιοστά</th>
          <th>Ασανσέρ</th>
          <th>Θέρμανση</th>
          <th>Ατομική/Ώρες</th>
          <th>Μπόιλερ/Ώρες</th>
          <th>ΚΟΙΝ/ΣΤΑ</th>
          <th>ΑΣΑΝΣΕΡ</th>
          <th>ΘΕΡΜ/ΝΣΗ</th>
          <th>ΑΤΟΜΙΚΗ</th>
          <th>BOILER</th>
          <th>ΚΛΕΙΣΤΑ</th>
          <th>ΕΙΔΙΚΕΣ</th>
          <th>ΙΔΙΟΚΤΗΤΩΝ</th>
          <th>ΙΣΑ ΜΕΡΗ</th>
          <th>ΕΚΔΟΣΗ</th>
          <th>ΑΥΤΟΤΕΛΗ</th>
          <th>ΣTPOΓ</th>
          <th>Σύνολο</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let resident of residents">
          <tr *ngIf="resident.id == '001'">
            <td>{{resident.id}}</td>
            <td>{{resident.name}}</td>
            <td>{{resident.apartment}}</td>
            <td>{{resident.apartmentInstance}}</td>
            <td>{{resident.elevatorInstance}}</td>
            <td>{{resident.heatingInstance}}</td>
            <td>{{resident.individual}}</td>
            <td>{{resident.boiler}}</td>
            <td>{{resident.common}}</td>
            <td>{{resident.elevatorExpense}}</td>
            <td>{{resident.heatingExpense}}</td>
            <td>{{resident.individualExpense}}</td>
            <td>{{resident.boilerExpense}}</td>
            <td>{{resident.closed}}</td>
            <td>{{resident.special}}</td>
            <td>{{resident.owner}}</td>
            <td>{{resident.equalParts}}</td>
            <td>{{resident.issuance}}</td>
            <td>{{resident.autonomous}}</td>
            <td>{{resident.rounded}}</td>
            <td>{{resident.total}}</td>
          </tr>
        </ng-container>
        <tr>
          <th colspan="3">Σύνολο:</th>
          <th>{{totalMilimitersMilimiters(residents)}}</th>
          <th>{{totalElevatorMilimiters(residents)}}</th>
          <th>{{totalHeatMilimiters(residents)}}</th>
          <th></th>
          <th></th>
          <th>{{totalSumExpenses(residents)}}</th>
          <th>{{totalElevExpenses(residents)}}</th>
          <th>{{totalHeatExpenses(residents)}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{totalScecialExpenses(residents)}}</th>
          <th>{{totalOwnersExpenses(residents)}}</th>
          <th>{{totalEqualExpenses(residents)}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="1">{{totalSumOfExpenses() | currency}}</th>
        </tr>
      </tbody>
    </table>
  </div>
  
  <form [formGroup]="buildingForm" (ngSubmit)="onSubmit()" class="building-form">
    <h2>Εισαγωγή Επόμενης Πολυκατοικίας</h2>
    <div class="overview-section">
    <div class="card" (click)="showForm = !showForm"> 
      <h3>Προσθήκη</h3>    
    </div>
  </div>
  <ng-container *ngIf="showForm" >
    <!-- City -->
    <div class="form-group">
      <label for="city">Πόλη</label>
      <input
        id="city"
        type="text"
        formControlName="city"
        class="form-control"
        placeholder="Πόλη"
        required
      />
      <div *ngIf="buildingForm.get('city')?.invalid && buildingForm.get('city')?.touched" class="error">
        Η Πόλη είναι υποχρεωτική.
      </div>
    </div>
    
    <!-- State -->
    <div class="form-group" >
      <label for="state">Νομός</label>
      <input
        id="state"
        type="text"
        formControlName="state"
        class="form-control"
        placeholder="Νομός"
        required
      />
      <div *ngIf="buildingForm.get('state')?.invalid && buildingForm.get('state')?.touched" class="error">
        Ο Νομός είναι υποχρεωτικός.
      </div>
    </div>    

    <!-- District -->
    <div class="form-group" >
      <label for="district">Περιοχή</label>
      <input
        id="district"
        type="text"
        formControlName="district"
        class="form-control"
        placeholder="Περιοχή"
        required
      />
      <div *ngIf="buildingForm.get('district')?.invalid && buildingForm.get('district')?.touched" class="error">
        Η Περιοχή είναι υποχρεωτική.
      </div>
    </div>    

    <!-- ΤΚ -->
    <div class="form-group" >
      <label for="tk">Ταχυδρομικός Κωδικός</label>
      <input
        id="tk"
        type="text"
        formControlName="tk"
        class="form-control"
        placeholder="Ταχυδρομικός Κωδικός"
        required
      />
      <div *ngIf="buildingForm.get('tk')?.invalid && buildingForm.get('tk')?.touched" class="error">
        Ο Ταχυδρομικός Κωδικός είναι υποχρεωτικός.
      </div>
    </div>

    <!-- Street -->
    <div class="form-group" >
      <label for="street">Οδός</label>
      <input
        id="street"
        type="text"
        formControlName="street"
        class="form-control"
        placeholder="Οδός"
        required
      />
      <div *ngIf="buildingForm.get('street')?.invalid && buildingForm.get('street')?.touched" class="error">
        Η Οδός είναι υποχρεωτική.
      </div>
    </div>

    <!-- Street Number -->
    <div class="form-group">
      <label for="streetNumber">Αριθμός</label>
      <input
        id="streetNumber"
        type="text"
        formControlName="streetNumber"
        class="form-control"
        placeholder="Αριθμός"
        required
      />
      <div *ngIf="buildingForm.get('streetNumber')?.invalid && buildingForm.get('streetNumber')?.touched" class="error">
        Ο αριθμός είναι υποχρεωτικός.
      </div>
    </div>
  
    <!-- Number of Apartments -->
    <div class="form-group">
      <label for="numApartments">Αριθμός Διαμερισμάτων</label>
      <input
        id="numApartments"
        type="number"
        formControlName="numApartments"
        class="form-control"
        placeholder="Αριθμός Διαμερισμάτων"
        required
      />
      <div *ngIf="buildingForm.get('numApartments')?.invalid && buildingForm.get('numApartments')?.touched" class="error">
        Ο αριθμός Διαμερισμάτων είναι υποχρεωτικός.
      </div>
    </div>
  
    <!-- Number of Parkings -->
    <div class="form-group">
      <label for="numParkings">Αριθμός Θέσεων Πάρκινγκ</label>
      <input
        id="numParkings"
        type="number"
        formControlName="numParkings"
        class="form-control"
        placeholder="Αριθμός Θέσεων Πάρκινγκ"
        required
      />
      <div *ngIf="buildingForm.get('numParkings')?.invalid && buildingForm.get('numParkings')?.touched" class="error">
        Ο αριθμός Θέσεων Πάρκινγ είναι υποχρεωτικός.
      </div>
    </div>
  
    <!-- Square Meters -->
    <div class="form-group">
      <label for="squareMeters">Συνολικά Τετραγωνικά Πολυκατοικίας</label>
      <input
        id="squareMeters"
        type="number"
        formControlName="squareMeters"
        class="form-control"
        placeholder="Συνολικά Τετραγωνικά Πολυκατοικίας"
        required
      />
      <div *ngIf="buildingForm.get('squareMeters')?.invalid && buildingForm.get('squareMeters')?.touched" class="error">
        Τα Συνολικά Τετραγωνικά Πολυκατοικίας είναι υποχρεωτικά.
      </div>
    </div>
  
    <!-- Heating Options -->
    <div class="form-group">
      <label for="heating">Είδος Θέρμανσης</label>
      <select id="heating" formControlName="heating" class="form-control" required multiple [(ngModel)]="selectedHeatingOptions ">
        <option value="" disabled>Είδος Θέρμανσης </option>
        <option *ngFor="let option of options" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="buildingForm.get('heating')?.invalid && buildingForm.get('heating')?.touched" class="error">
        Ο τύπος Θέρμανσης είναι υποχρεωτικός.
      </div>
    </div>
    <!-- button -->
    <div class="actions-section">
      <button class="pay-now-btn">Εισαγωγή</button>
    </div>
</ng-container>
